.body{
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
}
.app {
    background-color: #0a0f39;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
  }
  
  .app .div {
    background-color: #0a0f39;
    border: 1px none;
    height: 1900px;
    overflow: hidden;
    position: relative;
    width: 1440px;
  }
  
  .app .overlap {
    height: 1600px;
    left: -215px;
    position: absolute;
    top: -144px;
    width: 2242px;
  }
  
  .app .overlap-group {
    height: 752px;
    left: 700px;
    position: absolute;
    top: 203px;
    width: 1300px;
  }
  
  .app .ellipse {
    background-color: #305c9b;
    border-radius: 538px/285.5px;
    filter: blur(385px);
    height: 571px;
    left: 224px;
    position: absolute;
    top: 181px;
    width: 1076px;
  }
  
  .app .group {
    height: 225px;
    left: 110px;
    opacity: 0.9;
    position: absolute;
    top: 265px;
    width: 256px;
  }
  
  .app .overlap-group-2 {
    height: 225px;
    position: relative;
  }
  
  .app .rectangle {
    background-color: #aad9d9;
    border-radius: 40px;
    height: 225px;
    left: 1px;
    position: absolute;
    top: 0;
    width: 255px;
  }
  
  .app .rectangle-2 {
    background-color: #8080d7;
    border-radius: 40px;
    height: 42px;
    left: 0;
    position: absolute;
    top: 0;
    width: 256px;
  }
  
  .app .overlap-wrapper {
    height: 225px;
    left: 270px;
    opacity: 0.9;
    position: absolute;
    top: 265px;
    width: 256px;
  }
  
  .app .text-wrapper {
    color: #000000;
    font-family: "Outfit", Helvetica;
    font-size: 24px;
    font-weight: 600;
    left: 84px;
    letter-spacing: 0;
    line-height: 27.5px;
    position: absolute;
    text-align: center;
    top:8px;
    white-space: nowrap;
  }
  
  .app .text-wrapper-2 {
    color: #000000;
    font-family: "Outfit", Helvetica;
    font-size: 24px;
    font-weight: 600;
    left: 374px;
    letter-spacing: 0;
    line-height: 27.5px;
    position: absolute;
    text-align: center;
    top: 271px;
    white-space: nowrap;
  }
  .app .img {
    left: 500px !important;
    position: absolute !important;
    top: 0 !important;
    height: 250px;
    width: 250px;
  }
  
  .app .gas {
    color: #ff0000;
    font-family: "Outfit", Helvetica;
    font-size: 24px;
    font-weight: 600;
    left: 60px;
    letter-spacing: 0;
    line-height: 27.5px;
    position: absolute;
    text-align: center;
    top: 110px;
    white-space: nowrap;
  }
  
  .app .ashe {
    color: #ff0000;
    font-family: "Outfit", Helvetica;
    font-size: 48px;
    font-weight: 600;
    left: 367px;
    letter-spacing: 0;
    line-height: 27.5px;
    position: absolute;
    text-align: center;
    top: 376px;
    white-space: nowrap;
  }
  
  .app .overlap-2 {
    height: 693px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1472px;
  }
  
  .app .ellipse-2 {
    background-color: #9c5eac;
    border: 1px solid;
    border-color: #000000;
    border-radius: 287px/290px;
    filter: blur(279px);
    height: 580px;
    left: 0;
    position: absolute;
    top: 0;
    width: 574px;
  }
  
  .app .rectangle-3 {
    background-color: #00000054;
    box-shadow: 0px 4px 4px #00000040;
    height: 59px;
    left: 402px;
    position: absolute;
    top: 144px;
    width: 1065px;
  }
  
  .app .navbar {
    height: 28px;
    left: 405px;
    position: absolute;
    top: 163px;
    width: 1067px;
  }
  .app .page{
    list-style: none;
  }
  .home-page {
    color: #fff3f3;
    font-family: "Outfit", Helvetica;
    font-size: 20px;
    font-weight: 700;
    left: 100px;
    letter-spacing: 0;
    line-height: 27.5px;
    position: absolute;
    top: 0;
    white-space: nowrap;
    width: 172px;
    text-decoration: none;
    transition: .25s ease;
  }
  .app .login {
    color: #fff3f3;
    font-family: "Outfit", Helvetica;
    font-size: 20px;
    font-weight: 600;
    left: 778px;
    letter-spacing: 0;
    line-height: 27.5px;
    position: absolute;
    text-decoration: none;
    top: 0;
    white-space: nowrap;
    width: 107px;
    transition: .25s ease;
  }
  .app .login:hover{
    letter-spacing: 1px;
  }
  .home-page:hover{
    letter-spacing: 1px;
  }
  .app .about-page {
    color: #fff3f3;
    font-family: "Outfit", Helvetica;
    font-size: 20px;
    font-weight: 600;
    left: 595px;
    letter-spacing: 0;
    line-height: 27.5px;
    position: absolute;
    text-align: center;
    top: 0;
    text-decoration: none;
    white-space: nowrap;
    width: 107px;
    transition: .25s ease;
  }
  .app .about-page:hover{
    letter-spacing: 1px;
  }
  .app .signup {
    color: #fff3f3;
    font-family: "Outfit", Helvetica;
    font-size: 20px;
    font-weight: 600;
    left: 952px;
    letter-spacing: 0;
    line-height: 27.5px;
    position: absolute;
    top: 0;
    text-decoration: none;
    white-space: nowrap;
    width: 107px;
    transition: .25s ease;
  }
  .app .signup:hover{
    letter-spacing: 1px;
  }
  .app .overlap-temp-wrapper {
    height: 225px;
    left: 550px;
    opacity: 0.9;
    position: absolute;
    top: 468px;
    width: 256px;
  }
  .app .overlap-fire-wrapper{
    height: 225px;
    left: 1070px;
    opacity: 0.9;
    position: absolute;
    top: 468px;
    width: 256px;
  }
  .app .overlap-fire{
    height: 225px;
    position: relative;
  }
  .app .rectangle-fire {
    background-color: #aad9d9;
    border-radius: 40px;
    height: 225px;
    left: 1px;
    position: absolute;
    top: 0;
    width: 255px;
  }
  
  .app .rectangle-fire-2 {
    background-color: #8080d7;
    border-radius: 40px;
    height: 42px;
    left: 0;
    position: absolute;
    top: 0;
    width: 256px;
  }
  .app .fireLabel{
    color: #000000;
    font-family: "Outfit", Helvetica;
    font-size: 24px;
    font-weight: 600;
    left: 110px;
    letter-spacing: 0;
    line-height: 27.5px;
    position: absolute;
    text-align: center;
    top: 5px;
    white-space: nowrap;
  }
  .app .fire{
    color: #ff0000;
    font-family: "Outfit", Helvetica;
    font-size: 24px;
    font-weight: 600;
    left: 60px;
    letter-spacing: 0;
    line-height: 27.5px;
    position: absolute;
    text-align: center;
    top: 110px;
    white-space: nowrap;
  }
  .app .text-wrapper-9 {
    color: #000000;
    font-family: "Outfit", Helvetica;
    font-size: 24px;
    font-weight: 600;
    left: 481px;
    letter-spacing: 0;
    line-height: 27.5px;
    position: absolute;
    text-align: center;
    top: 474px;
    white-space: nowrap;
  }
  
  .app .h-1 {
    color: #ffffff;
    font-family: "Outfit", Helvetica;
    font-size: 60px;
    font-weight: 700;
    left: 422px;
    letter-spacing: 0;
    line-height: 66px;
    position: absolute;
    top: 290px;
    width: 685px;
  }
  
  .app .temperature {
    color: #ff0000;
    font-family: "Outfit", Helvetica;
    font-size: 48px;
    font-weight: 600;
    left: 481px;
    letter-spacing: 0;
    line-height: 27.5px;
    position: absolute;
    text-align: center;
    top: 579px;
    white-space: nowrap;
  }
  
  .app .overlap-3 {
    height: 225px;
    left: 672px;
    position: absolute;
    top: 471px;
    width: 256px;
  }
  
  .app .div-wrapper {
    height: 225px;
    left: 0;
    opacity: 0.9;
    position: absolute;
    top: 0;
    width: 256px;
  }
  
  .app .text-wrapper-11 {
    color: #000000;
    font-family: "Outfit", Helvetica;
    font-size: 24px;
    font-weight: 600;
    left: 100px;
    letter-spacing: 0;
    line-height: 27.5px;
    position: absolute;
    text-align: center;
    top: 3px;
    white-space: nowrap;
  }
  
  .app .humidity {
    color: #ff0000;
    font-family: "Outfit", Helvetica;
    font-size: 48px;
    font-weight: 600;
    left: 83px;
    letter-spacing: 0;
    line-height: 27.5px;
    position: absolute;
    text-align: center;
    top: 108px;
    white-space: nowrap;
  }
  
  .app .group-2 {
    height: 79px;
    left: 777px;
    position: absolute;
    top: 751px;
    width: 318px;
  }
  
  .app .overlap-4 {
    background-color: #ff0000;
    border-radius: 55px;
    height: 79px;
    position: relative;
    width: 316px;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .app .alarmButton {
    color: #ffffff;
    font-family: "Montserrat", Helvetica;
    font-size: 29px;
    font-weight: 600;
    height: 28px;
    left: 25px;
    letter-spacing: 0;
    line-height: 27.5px;
    position: absolute;
    text-align: center;
    top: 26px;
    white-space: nowrap;
  }
  .overlap-4:hover{
    transform: scale(1.05);
  }
  .app .group-4 {
    height: 212px;
    left: 188px;
    position: absolute;
    top: 1400px;
    width: 1074px;
  }
  
  .app .overlap-5 {
    background-color: #000000b2;
    height: 212px;
    position: relative;
    width: 1064px;
    opacity: 0.8;
  }
  
  .app .text-wrapper-14 {
    color: #ffffff;
    font-family: "Outfit", Helvetica;
    font-size: 22px;
    font-weight: 700;
    left: 112px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 40px;
    width: 200px;
  }
  
  .app .home-page-about-page {
    color: #ffffff;
    font-family: "Outfit", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 490px;
    letter-spacing: 0;
    line-height: 31px;
    position: absolute;
    top: 51px;
    width: 69px;
  }
  
  .app .email-linkedin {
    color: #ffffff;
    font-family: "Outfit", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 400px;
    letter-spacing: 0;
    line-height: 31px;
    position: absolute;
    top: 70px;
    width: 74px;
  }
  
  .app .text-wrapper-15 {
    color: #ffffff;
    font-family: "Outfit", Helvetica;
    font-size: 16px;
    font-weight: 600;
    left: 490px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 31px;
    width: 113px;
  }
  
  .app .text-wrapper-16 {
    color: #ffffff;
    font-family: "Outfit", Helvetica;
    font-size: 16px;
    font-weight: 600;
    left: 400px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 45px;
    width: 128px;
  }
  .app .chart-temp{
    height: 500px;
    width: 930px;
    /* margin-left: 400px; */
    background-color: white;
    /* margin-top: 900px; */
    top: 900px;
    left: 470px;
    position: absolute;
    border-radius: 50px;
  }
  .app .chart-temp-ratio{
    width: 800px;
    height: 500px;
    position: absolute;
    top: 50px;
    left: 75px;
    
  }
  .app .temp-wrapper{
    height: 300px;
    width: 530px;
    position: absolute;
    top: 0;
  }
  .app .humid-wrapper{
    height: 300px;
    width: 530px;
    position: absolute;
    top: 0;
  }
  .app .gas-wrapper{
    height: 300px;
    width: 530px;
    position: absolute;
    top: 0;
  }
  .app .ashe-wrapper{
    height: 300px;
    width: 530px;
    position: absolute;
    top: 0;
  }
  .app .chart-humid{
    height: 300px;
    width: 530px;
    left: 950px;
    top: 900px;
    position: absolute;
    background-color: white;
    border-radius: 50px;
  }
  .app .chart-humid-ratio{
    width: 400px;
    height: 200px;
    position: absolute;
    top: 50px;
    left: 75px;
  }
  .app .chart-gas{
    height: 300px;
    width: 530px;
    background-color: white;
    top: 1225px;
    left: 400px;
    position: absolute;
    border-radius: 50px;
  }
  .app .chart-gas-ratio{
    width: 400px;
    height: 200px;
    position: absolute;
    top: 50px;
    left: 75px;
  }
  .app .chart-ashe{
    height: 300px;
    width: 530px;
    left: 950px;
    top: 1225px;
    position: absolute;
    background-color: white;
    border-radius: 50px;
  }
  .app .chart-ashe-ratio{
    width: 400px;
    height: 200px;
    position: absolute;
    top: 50px;
    left: 75px;
  }
  .app .link-git{
    text-decoration: none;
    color: white;
    transition: .25s ease;
  }
  .app .link-git:hover{
    letter-spacing: 1px;
  }
  .app .link-fb{
    text-decoration: none;
    color: white;
    transition: .25s ease;
  }
  .app .link-fb:hover{
    letter-spacing: 1px;
  }
  .app .link-linkedin{
    text-decoration: none;
    color: white;
    transition: .25s ease;
  }
  .app .link-linkedin:hover{
    letter-spacing: 1px;
  }
  .app .MuiFormControl-root,.css-1nrlq1o-MuiFormControl-root{
    left: 600px;
    bottom: 150px;
  }
  .app .MuiFormLabel-root,.MuiInputLabel-root,.MuiInputLabel-formControl,.MuiInputLabel-animated,.MuiInputLabel-shrink,.MuiInputLabel-standard,.MuiFormLabel-colorPrimary,.MuiInputLabel-root,.MuiInputLabel-formControl,.MuiInputLabel-animated,.MuiInputLabel-shrink,.MuiInputLabel-standard,.css-1c2i806-MuiFormLabel-root-MuiInputLabel-root{
    color: white;
  }
  .app .MuiSvgIcon-root,.MuiSvgIcon-fontSizeMedium,.css-i4bv87-MuiSvgIcon-root{
    color: white;
  }
  .app .MuiInputBase-input,.MuiInput-input,.MuiInputBase-inputAdornedStart,.css-1x51dt5-MuiInputBase-input-MuiInput-input{
    color: white;
  }
  .app .wrap-submit{
    background-color: white;
    height: 30px;
    width: 60px;
    border-radius: 10px;
    left: 900px;
    bottom: 200px;
    position: relative;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  .app .wrap-submit:hover{
    transform: scale(1.05);
  }
  .app .textinput{
    color: white;
  }
